footer{
    background-color: #002c58;
    color: white;
    padding: 50px 16px 10px;
    box-sizing: content-box;
}
footer h2{
    font-size: 1.2em;
    text-transform: uppercase;
    padding-bottom: 10px;
    font-weight:700;
}
footer p{
    font-size: .9em;
    margin: 5px;
    font-weight: lighter;
}
.footer-down {
    color: white;
    text-align: center;
    width: 100%;
}
.footer-down h3{
    background-color: #002c58;
    color: white;
    font-size: .7em;
    padding: 30px;
    margin: 0;
}
.rrss{
    margin-top: 60px;
    width: 250px;
    
}