
*{
  letter-spacing: -0.5px;
  font-family: 'Montserrat', sans-serif;
}


.navButton{
  background-color: transparent;
  border: 0;
  margin: -20px;
  font-size: .8em;
}

.navigator {
  display: flex;
  justify-content: left;
  background-color: #002c58;
}

.containerNav{
  padding: 0 16px;
}

.navigator img {
  width: 150px;
} 

.navigator .navImage{
  width: 40px;
  color: white;
}

.bodypadding{
  padding: 0 16px;
  margin: 0;
}

.offCanvas{
  background-color: #002c58;
  text-transform: uppercase;
  padding: 10px;
  font-weight: bold;

}

.offCanvas a, hr {
  color: white;
  
}

.titlecolor{
  font-weight: 700;
  color: #002C58;
  
}
.theaders th{
width: 25%;
color: black;
}

.score{
  font-weight: 700;
}

.leaders{
  border-spacing: 0;
  background-color: #00AFD2;
}

.leaderboardtable>:not(caption)>*>* {
    border-bottom-width: 0px;
}

.leaderboardtable tbody{
  border-top: 0!important;
}
.scheduletable{
  margin: 35px 0;
}

.navImage{
  width: 6%!important;
  filter:invert(100%)
}
.navbar-toggler-icon{
  filter:invert(100%)

}

.btn-close{
  filter:invert(100%)

}

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: 0 0 0 0rem #0d3b69;
}

.navbar-toggler {
  border-color: rgb(255 255 255 /0%)!important;
}
