
*{
  letter-spacing: -0.5px;
  font-family: 'Montserrat', sans-serif;
}

.navButton{
  background-color: transparent;
  border: 0;
  margin: -20px;
  font-size: .8em;
}

.navigator {
  display: flex;
  justify-content: left;
  background-color: #002c58;
}

.containerNav{
  padding: 0 16px;
}

.navigator img {
  width: 150px;
} 

.navigator .navImage{
  width: 40px;
  color: white;
}

.bodypadding{
  padding: 0 16px;
  margin: 0;
}

.offCanvas{
  background-color: #002c58;
  text-transform: uppercase;
  padding: 10px;
  font-weight: bold;

}

.offCanvas a, hr {
  color: white;
  
}

.titlecolor{
  font-weight: 700;
  color: #002C58;
  
}